<h1>All pets</h1>

<%= link_to "New pet", new_pet_path %>

<% @pets.each do |pet| %>
  <h2><%= pet.name %></h2>
  <p>Breed: <%= pet.breed %></p>
  <p>Image: <%= pet.image %></p>
  <%= link_to "More Info", pet %>
<% end %>



