<h1>Pet info</h1>
<%= link_to "Edit pet", edit_pet_path(@pet) %>
<%= link_to "Delete pet", pet_path(@pet), data: {turbo_method: :delete} %>
<h2><%= @pet.name %></h2>
<p>Breed: <%= @pet.breed %></p>
<p>Image: <%= @pet.image %></p>
<a href="/pets">Back to all pets</a>